@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

h3 {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
}

.grid-table {
  display: grid;
  gap: 5px;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: left;
}

.header-item,
.row-item {
  padding: 8px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 150px;
  font-family: "DM Sans", sans-serif;
  word-wrap: break-word;
}

input {
  font-family: "DM Sans", sans-serif;
  word-wrap: break-word;
  background: #f4f4f4;
  border: none;
  width: 100px;
}

@media (max-width: 500px) {
  .table-header,
  .table-row {
    grid-template-columns: 1fr;
  }

  .header-item {
    display: none;
  }

  .row-item {
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: block;
    position: relative;
    padding: 8px;
  }
}
