@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  padding: 8px;
}

.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  border: none;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.total-cost {
  background-color: #f5f5f5;
  text-align: right;
  border: none;
}

button {
  font-family: "DM Sans";
  background-color: #f5f5f5;
  padding: 6px;
  border: #080808;
}

.wrapper {
  display: flex;
  justify-content: left;
}

@media (max-width: 500px) {
  table,
  thead,
  tbody,
  tfoot,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #121212;
  }

  th {
    padding-left: 3%;
    background-color: #f5f5f5;
    font-size: large;
  }

  td {
    border: none;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    padding-left: 50%;
    background-color: #f5f5f5;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Accommodation";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  td:nth-of-type(2):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  td:nth-of-type(3):before {
    content: "Rate";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  td:nth-of-type(4):before {
    content: "Nights";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  td:nth-of-type(5):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }
}
