body {
background-color: #f5f5f5;
}

.page {
  margin: 20px;
  padding: 20px;
  color: #0e1517;
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #f5f5f5;
} 

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  font-size: 45px;
  font-stretch: extra-condensed;

}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  font-size: 60px;
  font-stretch: extra-condensed;
  margin-top: 100px;
  padding-top: 10px;

}

.Home {
  padding: 10px;
  margin-left: 10px;
  margin-top: 0px;
  color: #0e1517;
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: end;
  height: 20vh;
} 


.New {
  margin: 20px;
  padding: 10px;
  color: #0e1517;
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20vh;
} 

.Back {
  padding: 10px;
  margin-left: 10px;
  margin-top: 0px;
  color: #0e1517;
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: end;
  height: 20vh;
} 

