* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

/* Parent Classes */

p,
a {
  font-size: large;
  font-weight: 470;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border-color: none;
}

label {
  display: block;
  font-weight: 600;
}

h2 {
  padding: 15px;
  text-align: center;
  margin-bottom: 18px;
}

h1 {
  padding: 15px;
  text-align: center;
  margin-top: 45px;
}

h3 {
  text-align: center;
  padding: 8px;
}

/* Home Page */

.new,
.home,
.back {
  padding: 20px;
}

.home-title {
  margin: 200px;
}

.new-page-link-1 {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.new-page-link-2 {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 300px;
}

/* Currency Converter */

.calculator-open-button {
  position: fixed;
  bottom: 45px;
  right: 30px;
  padding: 15px;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #bbc5bb;
}

.calculator {
  position: fixed;
  display: none;
  top: 30px;
  right: 30px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 240px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  z-index: 1000;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.close-button {
  cursor: pointer;
  position: fixed;
  top: 45px;
  right: 50px;
}

.calculator-body {
  padding: 5px;
}

.amount-class {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 3px solid #080808;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  margin-bottom: 13px;
}

.drop-down-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.select-currency {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  border: none;
  background-color: rgb(21, 21, 21);
  color: whitesmoke;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.convert-button-class {
  width: 100%;
  background-color: #121212;
  color: #f5f5f5;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.select-currency:hover,
.convert-button-class:hover {
  background-color: #424242;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #807f7f;
}

.result-class {
  text-align: center;
  background-color: #bbc5bb;
  font-size: medium;
  padding: 10px;
  margin-top: 10px;
  height: 40px;
  margin-bottom: 15px;
}

/* Budget Overview */

#destination {
  font-size: 80px;
  text-align: center;
  border-bottom: #080808;
  border-top: none;
  border-right: none;
  border-left: none;
}

#destination:focus {
  outline: none;
}

.destination-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper {
  padding-right: 15px;
}

.blinking-cursor {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.input-wrapper:focus + .blinking-cursor {
  display: none;
}

.budget-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  border-collapse: collapse;
}

#budget-input {
  border: #080808;
  width: fit-content;
  text-align: center;
  font-size: medium;
  padding: 0;
}

.overview-row {
  display: flex;
  width: 100%;
}

.overview-header {
  font-weight: bold;
}

.overview-item {
  flex: 1;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

/* Tables */

.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  margin: 30px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  border: none;
}

.select-food {
  padding: 5px;
  border-color: #ddd;
  font-weight: 400;
  width: 100%;
}

.total-cost {
  background-color: #f5f5f5;
  text-align: right;
  border: none;
}

.extra-table-container {
  margin: 30px;
  overflow-x: auto;
  margin-bottom: 150px;
}

/* Modal */

.modal-backdrop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fefefe;
  margin: 20px;
  padding: 8px;
  max-width: 500px;
  border: 1px solid #888;
  border-radius: 10px;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.close {
  color: #aaa;
  font-size: 22px;
  font-weight: bold;
  float: left;
  padding-right: 5px;
  margin-top: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#confirmDeleteButton {
  background-color: #d9534f;
  color: white;
  border-radius: 10px;
  width: 100%;
}

#cancelDeleteButton {
  background-color: #aaa;
  color: white;
  border-radius: 10px;
  width: 100%;
}

/* Add & Delete Button */
.hidden-delete-extra,
.hidden-delete-activities,
.hidden-delete-shopping,
.hidden-delete-food,
.hidden-delete-transport,
.hidden-delete-accommodation {
  display: none;
}

.hidden-add-extra,
.hidden-add-activities,
.hidden-add-shopping,
.hidden-add-food,
.hidden-add-transport,
#hidden-add-accommodation {
  display: none;
}

.add-delete {
  background-color: #f0f0f0;
  border: 1px solid #f7f4f4;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-delete:hover {
  background-color: #7e7a7a;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #7e7a7a;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.add-delete-wrapper {
  display: flex;
  justify-content: left;
}

/* Viewport at 500px */

@media (max-width: 650px) {
  table,
  thead,
  tbody,
  tfoot,
  th,
  td,
  tr {
    display: block;
  }

  .row-selector {
    display: none;
  }

  .first-column {
    top: 0;
    padding: 0;
  }

  .hidden-delete-extra,
  .hidden-delete-activities,
  .hidden-delete-shopping,
  .hidden-delete-food,
  .hidden-delete-transport,
  .hidden-delete-accommodation {
    display: inline-block;
    padding: 7px;
    background-color: #f5f5f5;
    border: 2px solid #0a0a0a;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000;
  }

  .hidden-add-extra,
  .hidden-add-activities,
  .hidden-add-shopping,
  .hidden-add-food,
  .hidden-add-transport,
  #hidden-add-accommodation {
    display: inline-block;
    background-color: #f0f0f0;
    border: 2px solid #0a0a0a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .hidden-add-food:hover,
  .hidden-delete-food:hover,
  .hidden-delete-shopping:hover,
  .hidden-delete-activities:hover,
  .hidden-delete-extra:hover,
  .hidden-add-shopping:hover,
  .hidden-add-extra:hover,
  .hidden-add-activities:hover,
  .hidden-add-transport:hover,
  .hidden-delete-transport:hover,
  .hidden-delete-accommodation:hover,
  #hidden-add-accommodation:hover {
    background-color: #7e7a7a;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #7e7a7a;
  }

  .material-symbols-outlined {
    vertical-align: middle;
  }

  thead tr {
    display: none;
  }

  tr {
    border: 2px solid #121212;
    border-bottom: none;
  }

  .cost {
    margin-bottom: 20px;
  }

  #total-transport,
  #total-activities,
  #total-food,
  #total-shopping,
  #total-extra,
  #total-accommodation {
    border-bottom: 2px solid #080808;
  }

  th {
    padding-left: 3%;
    background-color: #f5f5f5;
    font-size: large;
  }

  td {
    border: none;
    border-bottom: 2px solid #f5f5f5;
    position: relative;
    padding-left: 50%;
    background-color: #f5f5f5;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(2):before {
    content: "Accommodation";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  td:nth-of-type(3):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  td:nth-of-type(4):before {
    content: "Rate";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  td:nth-of-type(5):before {
    content: "Nights";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  td:nth-of-type(6):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .t-cell:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .t-cell:nth-of-type(1):before {
    content: "";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .t-cell:nth-of-type(2):before {
    content: "Transport";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .t-cell:nth-of-type(3):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .t-cell:nth-of-type(4):before {
    content: "From";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .t-cell:nth-of-type(5):before {
    content: "To";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .t-cell:nth-of-type(6):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .f-cell:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .f-cell:nth-of-type(1):before {
    content: "";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .f-cell:nth-of-type(2):before {
    content: "Purchase";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .f-cell:nth-of-type(3):before {
    content: "Type";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .f-cell:nth-of-type(4):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .f-cell:nth-of-type(5):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .act-cell:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .act-cell:nth-of-type(1):before {
    content: "";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .act-cell:nth-of-type(2):before {
    content: "Activity";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .act-cell:nth-of-type(3):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .act-cell:nth-of-type(4):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .shop-cell:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .shop-cell:nth-of-type(1):before {
    content: "Purchase";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .shop-cell:nth-of-type(2):before {
    content: "Purchase";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .shop-cell:nth-of-type(3):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .shop-cell:nth-of-type(4):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .ext-cell:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .ext-cell:nth-of-type(1):before {
    content: "Purchase";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .ext-cell:nth-of-type(2):before {
    content: "Purchase";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: #080808;
  }

  .ext-cell:nth-of-type(3):before {
    content: "Date";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }

  .ext-cell:nth-of-type(4):before {
    content: "Cost";
    justify-content: center;
    padding: 8px;
    font-weight: bold;
  }
}
